html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

header {
  padding-left: 15%;
  padding-right: 15%;
}

header img {
  height: 60px;
  width: 20%
}

.jumbotron {
  padding-top: 1%;
  height: 100%;
  width: 100%;
  background-image: url("../images/londonSkyline.jpg");
  background-size: 100%;
}
