html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: white;
}

header {
  padding-left: 15%;
  padding-right: 15%;
}

header img {
  height: 60px;
  width: 20%
}

.jumbotron {
  padding-top: 1%;
  height: 100%;
  width: 100%;
  background-image: url("../images/londonSkyline.png");
  background-size: 100%;
}

.container {
  margin: 15%;
  margin-bottom: 0;
  margin-top: 5%;
  height: 100%;
}

.titles {
  font-size: 2em;
  flex-wrap: wrap;
  display: flex;
}

.title {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.listContainer {
  width: 100%;
  height: 60%;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.list {
  padding-top: 1%;
  height: 100%;
  width: 48%;
  background: rgba(255,255,255,0.5);
  display: inline-block;
  margin: auto;
}

.userInput {
  text-align: center;
  height: 6%;
}

.userInput button {
  color: white;
  background-color: #203049;
  border-radius: 5px;
  border:none;
  width: 100px;
  height:100%;
}

.userInput input {
  text-indent: 5%;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: grey;
  height: 100%;
  width: 50%;
}

#userList {
  margin-top: 5%;
}

#groupList {
  margin-top: 5%;
}
